@using MedicalApp.Domain.Models
@model IList<Treatment>

<table border="1">
    <caption>
        Treatments
    </caption>
    <tr>
        <th>Id</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Date start</th>
    </tr>
    @foreach(var treatment in Model)
    {
        <tr>
            <td>@treatment.Id</td>
            <td>@treatment.DoctorFullName</td>
            <td>@treatment.PatientFullName</td>
            <td>@treatment.StartDate</td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Add treatment", "FormTreatment","Treatment")
</div>