@using MedicalApp.Domain.Models
@model IList<Patient>

<table>
    <tr>
        <th>Patients</th>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@entity.Id</td>
            <td>@entity.FirstName</td>
            <td>@entity.LastName</td>
            <td>@entity.Age</td>
            <td>@entity.RoomId</td>
        </tr>
    }
</table>
